# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log
### JetBrains template
.idea/
project/
target/
# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# Editor-based Rest Client
!.idea/httpRequests

### Gradle
.gradle/
build/
out
